body {
    height: 100vh;
}

.jumbotron {
    height: 400px;
}

.bulma {
    height: 40vh;
    position: relative;
    z-index: 1;
}

footer {
    height: 50px;
}

.mostrar {
    height: 40vh;
    position: relative;
    z-index: 2;
}

.win {
    display: none;
}

.menor {
    display: none;
}

.mayor {
    display: none;
}

.apagar {
    display: none;
}

.perdio {
    height: 70%;
}

.yamcha {
    display: none;
}