header {
    height: 100vh;
}

.goku {
    position: absolute;
    z-index: 1;
    height: 130vh;
    margin-left: 85%
}

.esfera4 {
    position: relative;
    z-index: 2;
    top: -150px;
    height: 150px;
}

.logoHeader {
    position: relative;
    z-index: 2;
    width: 70vw;
}

.carouselHeader {
    height: 500px;
}

.contenido {
    background: orange;
    height: 100vh;
}

.seccion1 {
    width: 60%;
}

.jumbotron {
    position: relative;
    z-index: 1;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .goku {
        height: 90vh;
        margin-left: 100%
    }
    .logoHeader {
        position: relative;
        z-index: 2;
        width: 80vw;
    }
    .seccion1 {
        width: 100%;
    }
}

@media (max-width: 370px) {
    .goku {
        height: 100vh;
        margin-left: 100%
    }
    .seccion1 {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .goku {
        height: 100vh;
        margin-left: 80%
    }
    .seccion1 {
        width: 100%;
    }
}