header {
    height: 100vh;
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7b733, #fc4a1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.esfera4 {
    position: relative;
    z-index: 1;
    top: -300px;
}

.goku {
    height: 100vh;
    /* width: 100vw; */
}

.carouselHeader {
    height: 500px;
}